.appbar {
   display: flex;
   margin-bottom: 1rem;
   align-items: center;
   gap: 1rem;
   padding-block: 1rem;
   position: relative;
   z-index: 3;
}

.appbar form {
   display: flex;
   padding: 0.75rem 1.5rem;
   background-color: var(--primary-500);
   width: 50%;
   max-width: 500px;
   border-radius: 10px;
   gap: 1rem;
   position: relative;
}

.appbar form button {
   position: relative;
   top: 2px;
   width: 20px;
   cursor: pointer;
}

.appbar form input {
   position: relative;
   top: 2px;
   color: white;
   width: 85%;
}

.appbar__profile {
   display: flex;
   gap: 1rem;
   align-items: center;
   margin-left: auto;
}

.appbar__profile__dp {
   width: 40px;
   aspect-ratio: 1;
   object-fit: cover;
   border-radius: 50%;
}
.appbar__profile a {
   height: 40px;
}

.appbar__profile__logout {
   width: 30px;
   height: 30px;
}

.search-results {
   position: absolute;
   width: 100%;
   left: 0;
   top: calc(100% + 1rem);
   background-color: var(--primary-500);
   padding: 2rem 1.5rem;
   border-radius: 10px;
   z-index: 10;
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.466);
   color: white;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}

.appbar .search-results h3 {
   margin-bottom: 1em;
}

.appbar .search-results p {
   width: 80%;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   font-size: 0.8rem;
   color: rgba(255, 255, 255, 0.534);
   margin-bottom: 1em;
}

.appbar .search-results p:hover {
   text-decoration: underline;
}

.appbar .close {
   transform: scale(1.5);
   aspect-ratio: 1;
}

.hamburger {
   display: none;
   width: 30px;
}
.hamburger > img {
   width: 100%;
}

.appbar__profile .chat {
   height: 85%;
}

.appbar a {
   display: flex;
   align-items: center;
}

@media (max-width: 800px) {
   .appbar form {
      padding: 0.75rem;
      flex: 1;
   }
   .hamburger {
      display: flex;
      align-items: center;
   }
   .appbar__profile {
      gap: 1rem;
   }
}
