.input__box {
	background: var(--primary-400);
	width: 100%;
	padding: 0.75rem 1rem;
	border-radius: 10px;
	display: flex;
	align-items: center;
	gap: 1rem;
	position: relative;
}

.input__box > input {
	color: white;
	width: 100%;
}

.input__box button img {
	height: 1rem;
	cursor: pointer;
}

.emoji-picker .picker {
	position: absolute;
	left: 0;
	right: 0;
	display: none;
	bottom: calc(100% + 1rem);
	z-index: 6;
}

.opener > svg {
	display: block;
	color: gray;
	cursor: pointer;
	font-size: 1.2rem;
}

.emoji-picker .picker.open {
	display: block;
}

.emoji-picker emoji-picker {
	--background: var(--primary-400);
	--border-color: none;
	--indicator-color: var(--primary-600);
	--input-padding: 0.25rem 0.5rem;
	max-width: 100%;
}

.input__box > * {
	flex-grow: 0;
	flex-shrink: 1;
}
