.setup {
	background-color: var(--primary-500);
	color: white;
	width: 400px;
	padding: 3rem 1.5rem 1.5rem 1.5rem;
	border-radius: 10px;
}

.setup > * {
	display: block;
	margin-bottom: 0.5rem;
}

.setup label {
	padding-left: 0.3rem;
	font-weight: 300;
	font-size: 0.85rem;
}

.setup input {
	background-color: var(--primary-600);
	width: 100%;
	padding: 0.75rem 1rem;
	color: white;
	border-radius: 10px;
	margin-bottom: 2rem;
}

.setup button {
	background: var(--primary-400);
	width: 100%;
	color: white;
	padding: 0.75rem;
	border-radius: 10px;
	font-size: 0.8rem;
}

.setup button:last-child {
	background: none;
}

@media (max-width: 420px) {
	.setup {
		width: 350px;
	}
}
