.chat__sent,
.chat__recieve {
	display: flex;
	align-items: flex-start;
	gap: 0.5rem;
	text-align: left;
	margin-bottom: 0.2rem;
	position: relative;
}

.message {
	padding: 0.3rem 1rem;
	background: var(--primary-400);
	border-radius: 5px;
	max-width: 70%;
	font-weight: 400;
	font-size: 0.8rem;
	letter-spacing: 0.05em;
	position: relative;
	word-wrap: break-word;
}

.message.emoji {
	font-size: 3rem;
	padding: 0.25rem;
	background: none;
}

.chat__sent p {
	margin-left: auto;
	max-width: 70%;
}

.message:not(.emoji)::after {
	content: "";
	position: absolute;
	border: 10px solid transparent;
	border-top-color: var(--primary-400);
	left: 0;
	top: 0;
	transform: translateX(-50%);
}
.chat__sent .message:not(.emoji)::after {
	left: inherit;
	right: 0;
	transform: translateX(50%);
}

.time {
	position: absolute;
	font-size: 0.6rem;
	right: 0.5em;
	bottom: -2em;
}

.chat__recieve .time {
	left: 0.5em;
}
