.chat__sent,
.chat__recieve {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    text-align: left;
    margin-bottom: 0.2rem;
    position: relative;
}

.chat__sent p,
.chat__recieve p {
    padding: 0.5rem 1rem;
    background: var(--primary-400);
    border-radius: 10px;
    max-width: 70%;
    font-weight: 400;
    font-size: 0.8rem;
    position: relative;
}

.chat__sent p {
    margin-left: auto;
    max-width: 70%;
}

.chat__sent::after,
.chat__recieve::after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top-color: var(--primary-400);
    left: 0;
    transform: translateX(-50%);
}
.chat__sent::after {
    left: inherit;
    right: 0;
    transform: translateX(50%);
}

.time {
    position: absolute;
    font-size: 0.6rem;
    right: 0.5em;
    bottom: -2em;
}

.chat__recieve .time {
    left: 0.5em;
}
