.profile {
	display: grid;
	gap: 1rem;
	width: 100%;
	grid-template-columns: auto 2fr 1fr;
	position: relative;
}

.profile__left {
	width: clamp(300px, 20vw, 350px);
	display: flex;
	height: max-content;
	flex-direction: column;
	gap: 1rem;
	position: sticky;
	top: 7rem;
	z-index: 5;
	padding: 2px;
}
.profile__center {
	padding: 2px;
	display: flex;
	flex-direction: column;
	color: white;
	gap: 1rem;
}

.profile__center > h2 {
	margin-top: 2rem;
	margin-inline: auto;
}

.profile__right {
	padding-block: 2px;
	border-radius: 10px;
	position: sticky;
	top: 7rem;
	height: calc(100vh - 9rem);
}

@media (max-width: 1200px) {
	.profile__right {
		display: none;
	}
	.profile {
		grid-template-columns: auto 1fr;
	}
}

@media (max-width: 800px) {
	.profile {
		grid-template-columns: 1fr;
		margin-inline: auto;
		margin-top: 1.5rem;
	}

	.profile__left {
		width: 100%;
		position: relative;
		top: 0;
		z-index: 1;
	}
}
