.profile {
    display: flex;
    gap: 1rem;
    height: 100%;
    width: 100%;
}

.profile__left {
    width: 350px;
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    gap: 1rem;
}
.profile__center {
    flex: 2;
    position: relative;
}

.profile__center > div {
    position: absolute;
    inset: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1rem;
    scrollbar-width: none; /*to work in moz*/
}

.profile__center > div > h2 {
    margin-top: 2rem;
    margin-inline: auto;
}

.profile__center > div::-webkit-scrollbar {
    display: none;
}

.profile__right {
    flex: 1;
}

@media (max-width: 1200px) {
    .profile__right {
        display: none;
    }
}

@media (max-width: 800px) {
    .profile {
        flex-direction: column;
        margin-inline: auto;
        margin-top: 1.5rem;
    }

    .profile__left {
        width: 100%;
    }
    .profile__center > div {
        position: relative;
        margin-bottom: 2rem;
    }
}
