.home {
	width: 100%;
	margin-inline: auto;
	display: grid;
	grid-template-columns: auto 2fr 1fr;
	gap: 1rem;
	position: relative;
}

.home__left {
	width: clamp(300px, 20vw, 350px);
	height: fit-content;
	position: sticky;
	top: 7rem;
	z-index: 2;
}

.home__center {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2px;
}

.home__right {
	position: sticky;
	top: 7rem;
	padding-block: 2px;
	border-radius: 10px;
	height: calc(100vh - 9rem);
}

@media (max-width: 1200px) {
	.home__right {
		display: none;
	}
	.home {
		grid-template-columns: auto 1fr;
	}
}

@media (max-width: 800px) {
	.home__left {
		display: none;
	}
	.home {
		grid-template-columns: 1fr;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
