.home {
	width: 100%;
	height: 100%;
	max-width: 1200px;
	margin-inline: auto;
	display: flex;
	gap: 2rem;
	overflow: hidden;
}

.home__left,
.home__right {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.home__left {
	flex: 2;
	overflow: auto;
	scrollbar-width: none; /*to work in moz*/
}

.home__right {
	flex: 1;
}

.home__left::-webkit-scrollbar {
	display: none;
}

@media (max-width: 800px) {
	.home__right {
		display: none;
	}
}

.spinner {
	margin-inline: auto;
	z-index: 10;
	width: 3rem;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 5px solid #fff;
	border-top-color: rgb(107, 107, 107);
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
