.home {
	width: 100%;
	max-width: 1200px;
	margin-inline: auto;
	display: flex;
	gap: 2rem;
	position: relative;
}

.home__left {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex: 2;
	padding: 2px;
}

.home__right {
	flex: 1;
	position: sticky;
	top: 7rem;
	padding-block: 2px;
	border-radius: 10px;
	height: calc(100vh - 9rem);
}

.home__left::-webkit-scrollbar {
	display: none;
}

@media (max-width: 800px) {
	.home__right {
		display: none;
	}
}

.spinner {
	margin-inline: auto;
	z-index: 10;
	width: 3rem;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 5px solid #fff;
	border-top-color: rgb(107, 107, 107);
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
