.comment {
	display: flex;
	align-items: flex-start;
	gap: 0.75rem;
	color: white;
	margin-bottom: 2rem;
}

.comment a {
	flex-shrink: 0;
}

.comment__dp {
	width: 2rem;
	aspect-ratio: 1;
	object-fit: cover;
	border-radius: 50%;
	position: relative;
}

.comment h3 {
	font-size: 0.85rem;
	font-weight: 500;
}

.comment p {
	font-size: 0.8rem;
	line-height: 1.7em;
	color: #bbbbbb;
}
