.singlepost {
   display: flex;
   gap: 2px;
   min-height: 80vh;
}

.singlepost__left {
   flex: 2;
   background-color: var(--primary-500);
   border-radius: 10px 0 0 10px;
}

.singlepost__comments {
   border-radius: 0 10px 10px 0;
   flex: 1;
   background-color: var(--primary-500);
   position: relative;
}

.singlepost__comments > div {
   position: absolute;
   inset: 0;
   padding: 2rem;
   display: flex;
   flex-direction: column;
}

.singlepost__right {
   flex: 1;
   position: relative;
   margin-left: 1rem;
   overflow: auto;
}

@media (max-width: 800px) {
   .singlepost__right {
      position: fixed;
      top: 100px;
      width: 350px;
      height: 100%;
      left: -1rem;
      transform: translateX(-100%);
      transition: transform 0.2s linear;
      z-index: 2;
   }
   .singlepost {
      min-height: auto;
      gap: 1rem;
      flex-direction: column;
   }
   .singlepost__left {
      border-radius: 10px;
   }
   .singlepost__comments {
      flex: initial;
      border-radius: 10px;
   }
   .singlepost__comments > div {
      padding: 2rem 1rem;
      position: relative;
   }
}
