.modal {
	padding: 1rem;
	background-color: var(--primary-600);
	color: white;
	min-width: 20rem;
	max-width: 30rem;
	transform: translate(0, 50%);
	opacity: 0;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	transition: all 0.2s ease-out;
	border-radius: 5px;
	text-align: center;
	z-index: 99;
	border-left: 3px solid white;
}

.modal p {
	font-size: 0.9rem;
}

.modal.visible {
	transform: translate(0);
	opacity: 1;
}

@media (max-width: 800px) {
	.modal {
		left: 50%;
		transform: translate(-50%, 50%);
	}
	.modal.visible {
		transform: translate(-50%, 0);
	}
}
