.modal {
   padding: 1rem 2rem;
   background-color: var(--primary-600);
   color: white;
   left: 50%;
   transform: translateX(-50%);
   position: absolute;
   top: -100px;
   transition: top 0.2s linear;
   border-radius: 10px;
   text-align: center;
   z-index: 9;
}

.modal p {
   font-size: 0.9rem;
}

.modal.visible {
   top: 4rem;
}
