#modals {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 999;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.modal {
	background-color: var(--primary-600);
	color: white;
	min-width: 20rem;
	max-width: 30rem;
	transform: translateX(150%);
	max-height: 0;
	padding: 0;
	overflow: hidden;
	border-radius: 5px;
	text-align: center;
	border-left: 3px solid white;
	animation: in 5s ease-out forwards;
}

@keyframes in {
	5% {
		padding: 1rem;
		max-height: 200px;
		transform: translateX(150%);
	}
	10% {
		padding: 1rem;
		transform: translateX(0);
		max-height: 200px;
	}
	95% {
		padding: 1rem;
		transform: translateX(0);
		max-height: 200px;
	}
	100% {
		padding: 1rem;
		transform: translateX(150%);
		max-height: 200px;
	}
}

.modal p {
	font-size: 0.9rem;
}
