.chatcard {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
	color: white;
	padding: 1rem 1.5rem;
	transition: background-color 0.2s linear;
}

.chatcard:hover,
.active {
	background-color: var(--primary-600);
	cursor: pointer;
}

.chatcard__dp {
	flex-shrink: 0;
}

.chatcard__dp img {
	height: 2.5rem;
}

.chatcard div {
	overflow: hidden;
}

.chatcard h2 {
	font-weight: 500;
	font-size: 0.9rem;
}

.chatcard p {
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.8rem;
	opacity: 0.6;
}
