.maingallery {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.76);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.images {
    width: 600px;
    max-height: 600px;
    padding: 2rem 1.5rem;
    background-color: var(--primary-500);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    overflow: scroll;
    position: relative;
    scrollbar-width: none; /*to work in moz*/
}

.images::-webkit-scrollbar {
    display: none;
}

.images > * {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    overflow: hidden;
}

.images > *::-webkit-scrollbar {
    display: none;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images > button {
    position: absolute;
    width: 30px !important;
    aspect-ratio: 1;
    background-color: red !important;
    border-radius: 50% !important;
    padding: 0.5rem !important;
    right: 10px;
    top: 10px;
}

@media (max-width: 800px) {
    .images {
        width: 90%;
        gap: 0.95rem;
    }
}
