.gallery__images {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1rem;
   margin-bottom: 1rem;
}

.gallery__images img {
   width: 100%;
   aspect-ratio: 1;
   object-fit: cover;
   border-radius: 10px;
}

.gallery button {
   background: var(--primary-500);
   width: 100%;
   color: white;
   padding: 0.75rem;
   border-radius: 10px;
   font-size: 0.8rem;
}
