.comments {
   overflow: auto;
   margin-bottom: 1.5rem;
   color: white;
   height: 100%;
   scrollbar-width: none; /*to work in moz*/
}

.comments > h3 {
   margin-bottom: 2rem;
   font-size: 0.9rem;
}

.comments::-webkit-scrollbar {
   display: none;
}
