h3 {
   font-size: 0.8rem;
   font-weight: 400;
   margin-bottom: 0.2em;
}

p {
   font-weight: 400;
   font-size: 0.8rem;
}

.post header p {
   font-size: 0.6rem;
   opacity: 0.5;
}

.post {
   background: var(--primary-500);
   padding: 2rem 1.5rem;
   color: white;
   border-radius: 10px;
   flex: 2;
}

.halfborder {
   border-radius: 10px 0 0 10px;
}

.post h4 {
   font-weight: 300;
   font-size: 0.9rem;
   line-height: 1.8em;
}

.post__dp {
   width: 2.5rem;
}

.post > header {
   display: flex;
   align-items: flex-start;
   gap: 0.5rem;
   margin-bottom: 1rem;
}

.post__image {
   max-height: 450px;
   width: 100%;
   border-radius: 10px;
   object-fit: contain;
   margin-block: 1rem 1rem;
   background-color: var(--primary-600);
}

.post__reactions {
   display: flex;
   align-items: center;
   gap: 1rem;
   width: 50%;
   flex-shrink: 0;
}

.post__reactions img {
   height: 25px;
   cursor: pointer;
}

.post__reactions p {
   position: relative;
   top: 1.5px;
   font-size: 1rem;
   font-weight: 400;
}

.post__footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 1.5rem;
}

.options {
   margin-left: auto;
   cursor: pointer;
   position: relative;
   height: 40px;
   aspect-ratio: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
}

.options:hover {
   background-color: var(--primary-400);
}

.options ul {
   list-style: none;
   background-color: var(--primary-400);
   position: absolute;
   border-radius: 10px;
   right: 10px;
   top: 110%;
   overflow: hidden;
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.1s linear;
}

ul.show {
   opacity: 1;
   pointer-events: all;
}

.options ul li {
   padding: 0.5rem 1rem;
   font-size: 0.8rem;
}

.options ul li:hover {
   background-color: var(--primary-600);
}

@media (max-width: 1100px) {
   .post__reactions {
      width: 25%;
   }
}

@media (max-width: 800px) {
   .halfborder {
      border-radius: 10px;
   }
   .post {
      padding: 1rem;
   }
}
