.options {
	margin-left: auto;
	cursor: pointer;
	position: relative;
	height: 40px;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	z-index: 3;
}

.options:hover {
	background-color: var(--primary-400);
}

.options ul {
	list-style: none;
	background-color: var(--primary-400);
	width: max-content;
	position: absolute;
	border-radius: 5px;
	right: 45px;
	top: 5px;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.1s linear;
	border: 2px solid var(--primary-400);
}

ul.show {
	opacity: 1;
	pointer-events: all;
}

.options ul li {
	padding: 0.5rem 1.5rem;
	font-size: 0.9rem;
	transition: background-color 0.2s linear;
}

.options ul li:hover {
	background-color: var(--primary-600);
}
