@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400&display=swap");

:root {
   --primary-400: #0b0c27;
   --primary-500: #191a35;
   --primary-600: #2b2c44;
}

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   letter-spacing: 0.1em;
   box-sizing: border-box;
}

body {
   font-family: poppins, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: var(--primary-400);
   padding: 1rem 2rem;
}

img {
   max-width: 100%;
}

button,
input {
   border: none;
   outline: none;
   font-family: inherit;
   background: none;
   height: min-content;
}

.roundimage {
   aspect-ratio: 1;
   border-radius: 50%;
   object-fit: cover;
}
