.profilecard {
	background-color: var(--primary-500);
	border-radius: 10px;
	margin-top: 50px;
	padding: 2rem 1.5rem;
}

.profilecard header {
	position: relative;
	text-align: center;
	color: white;
}

.profilecard header > div {
	position: absolute;
	height: 120px;
	aspect-ratio: 1;
	left: 50%;
	top: 0;
	transform: translate(-50%, -100%);
}

.profilecard__dp {
	height: 100%;
	border: 0.3rem solid var(--primary-400);
}

.dp-upload {
	position: absolute;
	width: 40px;
	aspect-ratio: 1;
	background-color: var(--primary-400);
	border-radius: 50%;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.profilecard h1 {
	margin-top: 30px;
	font-weight: 500;
	font-size: 1.5rem;
}
.profilecard h2 {
	font-size: 0.8rem;
	font-weight: 400;
	opacity: 0.7;
}

.profilecard article {
	margin-block: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.profilecard__info {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: white;
}

.profilecard__info h3 {
	font-weight: 400;
	font-size: 0.9rem;
}

.profilecard__info img {
	width: 20px;
}

.profilecard__info:first-child img {
	transform: scale(0.8);
}

.profilecard button {
	background: var(--primary-400);
	width: 100%;
	color: white;
	padding: 0.75rem;
	border-radius: 10px;
	font-size: 0.8rem;
}

.btn-group {
	display: flex;
	gap: 0.5rem;
}
