.notfound {
	margin-top: 5rem;
	width: 100%;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	color: white;
}

.notfound > img {
	width: min(500px, 80%);
	object-fit: contain;
}
.notfound h1 {
	font-size: 3rem;
	font-weight: 500;
}

.notfound button {
	padding: 1em 2em;
	border-radius: 10px;
	background-color: var(--primary-500);
}
